RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<FilesMatch "\.(sqlite|sqlite3|db|sql|env|bak)$">
    Require all denied
</FilesMatch>

RewriteRule \.git - [F,L]

<Files "tests.php">
    Require all denied
</Files>
